.left-nav-wrapper{
    width: 15%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.left-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-item {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}